.label Forgot your password?
%br
= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "user" }) do |f|
  = render "devise/shared/error_messages", resource: resource
  .form-group
    = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-user",  placeholder: "Email"
  .actions
  %br
    = f.submit "Send me reset password instructions", class:"btn btn-primary btn-user btn-block" 
= render "devise/shared/links"
