= form_for [@user, @strive], html: {class: 'user'} do |f|
  - if @strive.errors.any?
    #error_explanation
      %h2= "#{pluralize(@strive.errors.count, "error")} prohibited this strive from being saved:"
      %ul
        - @strive.errors.full_messages.each do |message|
          %li = message
  .field
    = f.label :strive_category_id
    = f.collection_select :strive_category_id, @strive_categories, :id, :name, {}, { :class=>"form-control"}
    %br/

  .field
    = f.label :badge_id
    = f.collection_select :badge_id, @badges, :id, :name, {}, { :class=>"form-control"}
    %br/
  .field
    = f.label :Reason
    %br/
    = f.text_area :reason, autofocus: true, autocomplete: "reason", class: "form-control form-control-user"
    %br/
  .actions
    = f.submit 'Award this Strive', class:"btn btn-primary btn-user btn-block"
