= form_for @request, html: {class: 'user'} do |f|
  - if @request.errors.any?
    #error_explanation
      %h2= "#{pluralize(@request.errors.count, "error")} prohibited this request from being saved:"
      %ul
        - @request.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :badge_id
    = f.collection_select :badge_id, @badges, :id, :name, {}, { :class=>"form-control"}
    %br/
  .field
    = f.label :strive_category_id
    = f.collection_select :strive_category_id, @strive_categories, :id, :name, {}, { :class=>"form-control"}
    %br/
  .field
    = f.label "Request From"
    = f.collection_select :requestee_id, @requestees, :id, :name, {}, { :class=>"form-control"}
    %br/
  .field
    = f.label :recipient_id
    = f.collection_select :recipient_id, @recipients, :id, :name, {}, { :class=>"form-control"}
    %br/
  .field
    = f.label :backer_id
    = f.collection_select :backer_id, @backers, :id, :name, {}, { :class=>"form-control"}
    %br/
  .field
    = f.label :Reason
    %br/
    = f.text_area :reason, autofocus: true, autocomplete: "reason", class: "form-control form-control-user"
    %br/
  .actions
    = f.submit 'Save', class:"btn btn-primary btn-user btn-block"
