.row
  .col-md-6
    %h1.h3.mb-0.text-gray-800 Requests
  .col-md-6.text-right.mb-4
    = link_to 'New Request', new_request_path, class:"btn btn-primary"

.row
  / comment
  - @requests.each do |request|
    .row
      .comment-avatar.col-md-1.col-sm-2.text-right
        = image_tag request.badge.emblem, class: "rounded-circle img-fluid", width: "60%"
      .comment-content.col-md-11.col-sm-10.text-left
        .comment-meta
          %h6.m-0.font-weight-bold.text-primary
            -if request.requestor.id == request.recipient.id
              = "#{time_ago_in_words(request.created_at)} ago, #{request.requestor.name} requested a #{request.badge.name} from #{request.requestee.name}, and #{request.backer.name} backs it."
            -else
              = "#{time_ago_in_words(request.created_at)} ago, #{request.requestor.name} requested a #{request.badge.name} for #{request.recipient.name} from #{request.requestee.name}, and #{request.backer.name} backs it."
        .comment-body
          %p
            =request.reason
        .comment-body

          -if request.strive.present?
            .badge.badge-success
              #{time_ago_in_words(request.strive.created_at)} ago, #{request.strive.awarder.name} awared this strive!
          -else
            
            -if policy(request).update?
              %span.small
                = link_to 'Edit', edit_request_path(request), class: 'btn-secondary btn btn-sm'

            -if policy(request).destroy?
              %span.small
                = link_to 'Delete', request, method: :delete, authenticity_token: true , data: { confirm: 'Are you sure you want to delete the request?' }, class: 'btn btn-secondary btn-sm'

          -if policy(request).approve?
            %span.small
              =link_to "Award Strive", user_strives_path(request.requestee, request_id: request.id), method: :post, authenticity_token: true , data: { confirm: "You are about to award a #{request.badge.name} strive to #{request.recipient.name} for, are you sure?" }, class: 'btn btn-primary btn-sm'

        %hr
          %br/
      / /comment
