.row
  .col-lg-12
    = form_for [:admin, @user], html: {class: 'user'} do |f|
      .form-group.row
      - if @user.errors.any?
        #error_explanation
          %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
          %ul
            - @user.errors.full_messages.each do |message|
              %li= message
      .field
        -if @user.avatar.attached?
          = image_tag @user.avatar, width:"200px"
        %br/
        = f.label :avatar
        = f.file_field :avatar, class:"d-none"
        .custom-file
          %label.custom-file-label{:for => "customFile"} Choose file
      .field
        %br/
        = f.label :name
        %br/
        = f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control form-control-user"
      .field
        %br/
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-user"
      .field
        %br/
        = f.label :Admin
        %br/
        = f.check_box :admin

      .field
        %br/
        = f.label :Active
        %br/
        = f.check_box :active

      .field
        %br/
        = f.label :Role
        %br/
        = f.select :role, options_for_select(User::ROLES.map { |s| [s[1].to_s.humanize, s[0]] } , selected = @user.role )


      -if params[:action] == "new"
        .field
          %br/
          = f.label :password
          - if @minimum_password_length
            %em
              (#{@minimum_password_length} characters minimum)
          %br/
          = f.password_field :password, autocomplete: "new-password", class: "form-control form-control-user"
        .field
          %br/
          = f.label :password_confirmation
          %br/
          = f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control form-control-user"
        
      .actions
        %br/
        = f.submit 'Save', class:"btn btn-primary btn-user btn-block"
:javascript
  $(".custom-file-label").click(function () {
    $("#user_avatar").trigger('click');
  });
  $("#user_avatar").on("change", function() {
    var fileName = $(this).val().split("\\").pop();
    $(".custom-file-label").addClass("selected").html(fileName);
  });

